@charset "UTF-8";


body{
    background-color: black;
    color: white;
}

header{
    margin: auto;
}

header h1{
    font-size: 7em;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    color:black;
}

main p{
    max-width: 600px;
}